*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.margin-auto{
    margin: auto;
}

.height-100{
    height: 100%;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
  }

.dashed-border{
    border: 2px dashed black;
}

.dashed-border-white{
    border: 2px dashed white;
}

.background-gold{
    background-color: #d9a420;
}

.background-gray{
    background-color: #d2d2d2;
    /*background-image: url(../img/wave.svg);*/
}

.background-pastel-pink{
    background-color: #feb5c0;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 1.15rem;
}

header{
    background-color: #3161e0;
    /* padding-bottom: 5px; */
}

header section.upper{
    height: 80px;
}

section.upper{
    width: 100%;
    height: 40px;
    align-items: center;
}

section.upper>div{
    width: 20%;
    padding: .5rem 1rem;
}

section.upper nav {
    width: 60%;
}

section.upper nav ul{
    list-style-type: none;
    padding: .5rem 1rem;
    justify-content: space-evenly;
    color: white;
}

section.upper nav ul li{
    margin-right: .5rem;
}

section.upper div.login{
    text-align: right;
}

header section.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    /* height: 550px; */
    padding: 4rem 0;
}

section.jumbotron .hero{
    width: 75%;
}

h1{
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-top: 3rem;
}

h2{
    font-size: 4rem;
}

.description-text{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.jumbotron-p{
    color: white;
    margin-top: 2.2rem;
    text-align: center;
}

.btn-jumbo{
    margin: 3rem 10rem;
    align-self: flex-start;
    font-size: 1.4rem;
}

.btn-jumbo-2{
    font-size: 1.4rem;
    color: white;
    background-color: black;
    align-self: flex-start;
    margin: 3rem 10rem 3rem 0;
}

.buttons{
    display: flex;
    justify-content: center;
}

 main section.background-gray div.blue-column img{
    margin-left: 10rem;
}

main>section{
    padding: 4rem 0;
}

main section div.blue-column{
    width: 60%;
}

main section div.pink-column{
    width: 40%;
    margin-left: 7rem;
}

main section div.big-column{
    width: 100%;
}

main section.background-gray div.big-column p{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
}

main section.background-gray div.big-column img{
    width: 100%;
}

main section.background-gray div.big-column button{
    margin: 25px 540px;
}

main section.background-gray div.big-column h3{
    font-size: 2rem;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
}

footer{
    background-color: #23272a;
    padding-top: 1rem;
}

footer section.container div.main-column h3{
    font-size: 2rem;
    text-align: left;
}

footer section.container div.main-column img{
    width: 30px;
    margin-top: 1rem;
}

.blue-text{
    color: #728adc;
}

.white-text{
    color: white;
    margin-top: 1rem;
}

footer section.footer-top{
    height: 700px;
}

footer div.main-column{
    width: 30%;
}

footer div.footer-columns{
    width: 70%;
}

footer div.secondary-column{
    width: calc(100% / 4);
}

footer div.button-wrapper button{
    background-color: #728adc;
    color: white;
}

footer section.footer-bottom{
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

footer section.footer-bottom{
    border-top: solid 2px #728adc;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer section .logo-wrapper,
footer section .button-wrapper{
    padding: .5rem;
}